body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    width: 1158px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px
}

/* Header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    margin-right: 76px;
    margin-left: 156px;
}

.logo-first-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-right: 332px;
}

.header-nav {
    color: #2e2f42;
}

.header-nav:hover,
.header-nav:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.header-adress {
    font-style: normal;
}

.header-data {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-right: 156px;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-link:hover,
.header-link:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

/* First section */
.first-sec {
    background: #2e2f42;
    padding: 188px 0;

}

.first-sec-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: 472px;
    margin-left: 472px;
    margin-bottom: 48px;
}

.first-sec-button {
    color: #ffffff;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    background: #4d5ae5;
    display: block;
    border: none;
    padding: 16px 32px;
    margin-right: 636px;
    margin-left: 636px;
}

.first-sec-button:hover,
.first-sec-button:focus {
    color: #ffffff letter-spacing: 0.04em;
    ine-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    background: #404bbf;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/* Second section */
.second-sec-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-sec-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.second-sec-container {
    margin: 120px 156px;
}

.second-sec-item {
    display: flex;
    gap: 24px;
}

/* Third section */

.third-sec {
    background: #f4f4fd;
}


.third-sec-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-right: 639px;
        margin-left: 639px;
        margin-bottom: 72px;
        margin-top: 120px;
}

.third-sec-item {
    background-color: #FFFFFF;
}

.third-sec-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-sec-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 32px;
}

.third-sec-list {
    margin-right: 156px;
    margin-left: 156px;
    margin-bottom: 120px;
    margin-top: 232px;
    max-width: 264px;
    display: flex;
    gap: 24px;
}

.third-sec-img {
    margin-bottom: 32px;
}

/* Fourth section */
.fourth-sec-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-right: 611px;
        margin-left: 611px;
        margin-bottom: 72px;
        margin-top: 120px;
       
}

.fourth-sec-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.fourth-sec-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.first-row {
margin-right: 156px;
    margin-left: 156px;
    margin-bottom: 48px;
    max-width: 360px;
    display: flex;
    gap: 24px;
}

.second-row {
display: flex;
margin-right: 156px;
    margin-left: 156px;
    margin-bottom: 120px;
    gap: 24px;
    max-width: 360px;
}

/* Footer */
.footer {
    background: #2e2f42;
}

.footer-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-first-part-fotter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-container{
max-width: 264px;
    margin-left: 149px;
    margin-bottom: 101px;
    margin-top: 100px;
    padding-bottom: 15px;
}

.footer {
    border-bottom: 1px solid #e7e9fc;
}
